@charset "UTF-8";

ul,ol,li {list-style:none;}
a {color: #000; text-decoration: none;}
strong{
	font-size:20px;
}
body {font-family:맑은고딕; color:#333;}
header, nav, section, article, footer {display:block;}
h1,h2,h3,h4,h5,h6 {font-weight:normal; font-size:16px;}
table,th,tr,td {border-collapse:collapse;}

.footer {clear:both;background:#42464d; padding-top:80px; padding-bottom:65px; margin-top:60px;}
.footer .address {font-style:normal; color:#ababb1; margin-bottom:20px;}
.footer .address .title {font-size:12px; margin-bottom:8px; color:#fff;}
.footer  .copyright {color:#fff;}
/* header css */

.BlogHead {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100px;
    content: "";
    opacity: 0;

}

.blog_head{
	height: 105px;
    border-bottom: 1px solid
}

.inner_header {
    position: relative;
    z-index: 1;
    margin: 0px auto;
}
.blog_head h1 {
    float: left;
    margin: 39px 0 0 60px;
    width: 80px;
    height: 26px;
}

.gnb_blog {
    float: left;
    margin: 40px 0 0 38px;
}
.list_blog li {
    float: left;
}
.list_blog .link_blog {
    padding: 0 7px 0 17px;
    font-size: 16px;
}

.member_depth{
	margin:auto;
    width: 60px;
    height: 60px; 
    border-radius: 70%;
    overflow: hidden;
}
.user_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.notice_blog {
    float: left;
    width: 562px;
    margin: 40px 0 0 32px;
    color: #fff;
}
.info_blog {
    position: absolute;
    top: 0;
    right: 0;
}
.logn_blog {
    display: block;
    padding: 32px 60px 0 0;
    text-align: right;
}

.footer {
	clear:both;
	background:#42464d; 
	padding-top:25px; 
	padding-bottom:25px; 
	font-style:맑은고딕;
	
}
.footer h1{
	color:#fff;
	float: left;
    margin-left: 60px;
    padding:0;
    width: 80px;
    height: 26px;
}
.footer .address {	 
	color:#fff; 
	margin-bottom:8px;
}
.footer .address .title {
	font-size:15px; 
	margin-bottom:8px; 
	color:#fff;
}
.footer  .tel {
	font-size:15px; 
	margin-bottom:8px; 
	color:#fff;
}
.footer  .sns {
	font-size:15px; 
	margin-bottom:8px; 
	color:#fff;
}

.record_group {
	float:left;
}
.search_group {
	float:right;
}
.record_group span {
	color:#007dc6;
}
.search_group .select {
	height:44px; 
	border:1px solid #e0e0e0; 
	padding:5px 25px 5px 5px;
}
.search_group .search_word {
	height:44px; 
	border:1px solid #e0e0e0; 
	padding:5px; 
	width:220px;
}
.search_group .btn_search {
	height:44px; 
	padding:5px 15px;
	border:1px solid #e0e0e0; 
	background:transparent; /*투명하게*/ 
	font-size:16px;
	vertical-align:bottom;
}


.paging{
	clear: both;
    padding-top: 50px;
    padding-bottom: 50px;
	
}

.paging a {
	padding:10px; 
	border:1px solid #e0e0e0;}
.paging a.active {
	background:#007dc6; 
	color:#fff;
}
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
}

.btn_write {
	background:#e4e8f5; 
	padding:10px 16px; 
	width: auto;
	height:auto;
	float: right;
	border:1px solid #333;
	color:#000;

}

.bord_table{
	width:1140px;
	min-height:400px;
}


/* member css */

.con_title {
    padding: 0 0 40px 0;
    margin: 0 0 0 0;
    text-align: center;
	margin-top:100px;
}
.con_title h1 {
    padding: 0px 0px 15px 0px;
    font-size: 42px;
    color: #333;
}
.con_title p {
    display: inline-block;
    padding: 10px 40px;
    font-size: 14px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.col_989 {
    float: none;
    clear: both;
    width: 989Px;
    margin: 0 auto;
    margin-top: 0px;
}
.join_write {
    padding: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.list_con ul {
    padding: 7px 0;
}
.table_write02 {
    width: 100%;
}
.table_write02 th {
    color: #333;
    text-align: left;
    font-family: 'NGothic';
}
.table_write02 th, .table_write02 td {
    padding: 10px 0;
}
input.w300 {
    width: 295px;
    padding-left: 5px !important;
}
table caption, legend, .blind {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    top: -999999px;
    text-indent: -9999px;
}

input[type="text"], input[type="password"], input[type="search"], input[type="button"], 
input[type="tel"], input[type="date"], input[type="email"], input[type="file"] select {
    padding: 0 5px;
    padding-left: 5px;
    height: 36px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #fff;
    font-size: 15px;
    font-family: 'NGothic', "굴림", "굴림체", "돋음", Arial, sans-serif;
}


input:read-only {
    background: #F5F5F5;
    color: #666;
}

.w300 {
    width: 300px !important;
    background: #fff;
}
select {
    vertical-align: middle;
    font-size: inherit;
    box-sizing: border-box;
    padding: 0px 25px 0px 5px;
    background: #fff url(../images/arr_down.png) no-repeat right 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-shadow: none;
}
.table_write02 .guideTxt {
    display: inline-block;
    padding: 0 0 0 14px;
    margin: 0 0 0 10px;
    font-size: 14px;
    background: url(/web/img/common/bullet_con04.png) no-repeat 0 6px;
}

.btnArea.Acenter {
    text-align: center;
}
.pb100 {
    padding-bottom: 100px !important;
}
.pt60 {
    padding-top: 60px !important;
}
.btnArea.Acenter a {
    margin-left: 2px;
    margin-right: 2px;
}
a:link {
    color: #666;
    text-decoration: none;
}
.w180 {
    width: 180px !important;
}
.btn_BlueGray {
    background: #8d9aaf !important;
    color: #fff !important;
}
.btn_large {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
}
.btn_round {
    display: inline-block;
    padding: 0 20px;
    margin: 0 1px;
        margin-right: 1px;
        margin-left: 1px;
    border-radius: 50px;
    text-align: center;
    box-sizing: border-box;
}
.btn_pointColor {
    background: #090 !important;
    color: #fff !important;
}

/* faq css */
.faq-group {
	width:1140px;
}
.faq-group .accordion {padding:18px; width:100%; text-align:left;border:0 none; background:transparent; border-bottom:1px solid #ddd; font-size:16px; font-weight:bold; cursor:pointer;}
.faq-group .accordion:after {content:"\f067";font-family:FontAwesome; float:right;}
.faq-group .panel {padding:20px 18px; border-bottom:1px solid #ddd; line-height:1.8; display:none;}

.faq-group .active:after {content:"\f068";font-family:FontAwesome; float:right;}

/* 댓글 */
.cm_write {margin:4% 0 15px 0;}
.cm_write input[type="text"], .cm_write input[type="password"], .cm_write textarea, .cm_list .cm_re_input textarea {padding:10px;}
.cm_write .cm_writer {margin-bottom:5px;}
.cm_write .cm_writer label {color:#111; margin-right:10px;}
.cm_write .cm_writer input:first-child {width:100px; margin-left:0;}
.cm_write .cm_writer input {width:130px; background:none; padding:5px 1%;}
.cm_write .wr_input {overflow:hidden; max-width:360px; margin-bottom:0.7%;}
.cm_write .wr_input > span {float:left; width:49%;}
.cm_write .wr_input > span + span {margin-left:2%;}
.cm_write .wr_input input {border:1px solid #ccc;}
.cm_write .cm_input {position:relative; background:#fff; border:1px solid #ccc;}
.cm_write .cm_input > span {display:block; text-align:right; position:relative;}
.cm_write .cm_input > span i {position:absolute; top:11px; left:10px; font-size:13px; color:#999;}
.cm_input textarea {width:100%; height:90px; background:#f9f9f9; border:0; border-bottom:1px solid #ccc;}
.cm_input .btns {width:76px; height:40px; line-height:38px; background:#139dc8; border-radius:0; color:#fff; padding:0; margin:0; font-size:15px; position:relative; right:-1px;}
/* 댓글리스트 */
.cm_list {border-bottom:1px solid #ddd; font-size:14px;}
.cm_list > div {overflow:hidden; border-top:1px solid #e0e0e0; padding:15px 0; position:relative;}
.cm_list > div .writer_img {display:inline-block; position:absolute; top:11px; left:0;}
.cm_list > div .writer_img img {width:30px; height:30px; border-radius:100%;}
.cm_list > div .writer {padding:0 0 0 40px;}
.cm_list > div .writer em {font-size:14px; font-style:normal; color:#222; display:inline-block; margin-right:20px;}
.cm_list > div .writer span.date {display:inline-block; font-size:13px; font-weight:300; color:#a4a5a3; position:relative; padding-left:10px; margin-left:1%;}
.cm_list > div .writer .bt {position:relative; margin-left:10px; padding-left:10px;}
.cm_list > div .writer span.date::before, .cm_list > div .writer .bt::before {content:''; display:block; background:#c4c4c4; width:1px; height:14px; position:absolute; top:3px; left:0;}
.cm_list > div .writer .bt button {display:inline-block; border:0; padding:0; background-position:-383px -81px; width:17px; height:17px; text-indent:-9999px; cursor:pointer;}
.cm_list > div .func_btns {position:absolute; top:15px; right:0;}
.cm_list > div .func_btns button {height:22px; line-height:20px; padding:0 5px; font-size:12px; background:#fff; color:#999; border:1px solid #c1c1c1;}
.cm_list > div .cont {margin-top:10px;}
.cm_list > div .cont .txt_con {line-height:1.6; margin:7px 0; color:#888; word-break:break-all;}
.cm_list > div .cont .date {color:#999; font-size:12px; font-family:Arial, Helvetica, sans-serif; letter-spacing:0; display:block;}
.cm_list > div .cm_bt {display:inline-block; font-size:12px; color:#777; border:1px solid #ccc; height:22px; line-height:20px; margin-top:7px; padding:0 5px;}
.cm_list > div:first-child {border:0;}
.cm_list > div .cm_answer {position:relative; border-top:1px dashed #ddd; margin-top:15px; padding-top:15px; padding-left:25px;}
.cm_list > div .cm_answer::before {content:''; background-position:-85px 0; width:8px; height:10px; text-align:center; position:absolute; top:19px; left:10px;}
.cm_list > div .cm_answer > div {position:relative;}
.cm_list > div .cm_answer .writer_img {left:25px;}
.cm_list .cm_re_info, .cm_list .cm_re_input {margin-top:10px;}
.cm_list .cm_re_info > button {background-color:#f7f7f7; border:1px solid #ddd; border-radius:3px; color:#777; font-size:12px;}
.cm_list .cm_re_info > span {display:inline-block; position:relative; padding:0 12px; font-size:13px; color:#999;}
.cm_list .cm_re_info > span:first-child {padding-left:0;}
.cm_list .cm_re_info > span:before {content:''; background:#ccc; width:1px; height:12px; position:absolute; top:4px; left:0;}
.cm_list .cm_re_info > span:first-child::before {display:none;}
.cm_list .cm_re_input {position:relative; border:1px solid #ccc;}
.cm_list .cm_re_input span {display:block; text-align:right;}
.cm_list .cm_re_input textarea {height:50px; background:#fff; border:0; border-bottom:1px solid #eee;}
.cm_list .cm_re_input .btns {height:36px; line-height:34px;}
.cm_list .hide_view {display:none;}
.cm_list .hide_view.open {display:block;}
.cm_list .cm_none {text-align:center; color:#999; padding:25px 0; margin:50px 0; position:relative;}

/* 레이어팝업 */
.btn_close {display:inline-block; background-color:transparent; border:0; padding:5px;}
.btn_close span {display:inline-block; font-size:27px;}
.popLayer .btn_close {position:absolute; top:20px; right:15px;}
.overlay_t {position:fixed; top:0; right:0; bottom:0; left:0; width:100%; height:100%; overflow:auto; padding:15px; box-sizing:border-box; background-color:rgba(0,0,0,0.6); text-align:center; z-index:99;}
.overlay_t::before {content:""; display:inline-block; height:100%; vertical-align:middle;}
.popLayer {vertical-align:middle; position:relative; z-index:100; width:100%; max-width:800px; margin:0 auto; padding:10px 30px; background:#fff; border-radius:14px; overflow:hidden; box-shadow:0px 1px 7px rgba(0,0,0,0.4); display:none;}
.popLayer h3 {color:#222; font-size:20px; margin-top:30px; line-height:1.3; text-align:left;}
.popLayer em {font-style:normal;}
.popLayer .pop_container {padding:15px 0;}
.popLayer .pop_container.scroll_cont {max-height:470px; overflow:auto;}
.popLayer .pop_container .btn_set {margin:30px 0 0;}
.popLayer .pop_container .btn_set > button {height:40px; line-height:38px; font-size:15px; min-width:80px;}

/* 필수입력표시 */
.es {display:inline-block; text-indent:-99999px; background-position:-65px 0; width:6px; height:7px; margin-left:3px; vertical-align:middle; position:relative; top:-2px;}
/* 필수입력항목 텍스트 */
.wr_cm_txt {text-align:right;}
.wr_cm_txt span {display:inline-block; position:relative; padding-left:10px; font-size:12px; color:#888; margin-bottom:10px;}
.wr_cm_txt span::before {background-position:-65px 0; width:6px; height:7px; position:absolute; top:5px; left:0;}

/* 테이블 스타일 ------------------------------- */
.tb {width:100%; border:1px solid #dedede; margin-top:20px;}
.tb:first-child {margin-top:0;}
.tb th, .tb td {border:1px solid #dedede; padding:10px 5px; box-sizing:border-box;}
.tb th {color:#555;}

.tb_col th {border-bottom:1px solid #a2a2a2;}
.tb_col td {text-align:center;}
.tb_col thead th {background:#6f8294; border-color:rgba(255,255,255,0.2); color:#fff;}
.tb_col tbody tr:nth-child(even) {background:#f6f7f8;}
.tb_col .no_data_msg {padding:50px 0;}

.tb_row {border-top:2px solid #6f8294;}
.tb_row th, .tb_row td {padding:8px 12px;}
.tb_row th {background:#f6f7f8; text-align:center;}
.tb_row td {height:40px;}
.tb_row .btns {height:38px; line-height:38px;}
.viewcon {min-height:100px;}



/* member */
.member_list{
	margin-top:15px;
}

.member_list .subimg {
	margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 70%;
    overflow: hidden;
}

.member_list .subcontent-inner {
    padding-top: 20px;
    height: 300px;
}

.member_list button {
    background-color: #b9b9b9;
    margin: 20px 0 0;
    width: 48%;
    height: 48px;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
    border: none;
}

.member_lnfo{
	margin-top:15px;
	text-align:center;
}