<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace ="com.hanulso.mapper.MemberMapper">

	<insert id ="MemberInsert">
		<selectKey keyProperty="bno" order="BEFORE" resultType="int">
			select MEMBER_SEQ.nextval from dual
		</selectKey>
		insert into member(bno,name,id,pw,tel,email,nickname,profileimg)
		values(#{bno},#{name},#{id},#{pw},#{tel},#{email},#{nickname},#{profileimg})
	</insert>
	<select id="IdCheck" parameterType="String" resultType="int">
		select count(*) from member where id = #{id}
	</select>

	<select id ="NickNameCheck" parameterType="map" resultType="int">
		select count(*) from member where nickname = #{nickname}
	</select>
	
	<select id ="ViewMember" resultType="com.hanulso.dto.MemberDTO">
		select * from member where bno = #{bno}
	</select>
	
	<select id = "DeleteMember" resultType="com.hanulso.dto.MemberDTO">
		delete from member where bno = #{bno}
	</select>
	
	<update id = "UpdateMember">
		update member set pw=#{pw}, tel=#{tel}, email=#{email}, nickname=#{nickname}, profileimg=#{profileimg} where bno = #{bno}
	</update>
	
</mapper>